{
  "presets": ["flow"],
  "plugins": [
    "transform-export-extensions",
    "flow-react-proptypes",
    "transform-react-remove-prop-types",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-es2015-parameters",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
