{
  // https://stackoverflow.com/questions/51860043/javascript-es6-typeerror-class-constructor-client-cannot-be-invoked-without-ne
  // ES6 classes are supported in any recent Node version, they shouldn't be transpiled. es2015 should be excluded from Babel configuration, it's preferable to use env preset set to node target.
  "presets": [["env", { "targets": { "node": true } }], "react", "stage-1", "flow"],
  "plugins": [
    "transform-export-extensions",
    "flow-react-proptypes",
    "transform-react-remove-prop-types",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-es2015-parameters",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
