registry=http://tfs.mpes.mp.br/DefaultCollection/_packaging/MPES/npm/registry/

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 03/08/2022.
; begin auth token
//tfs.mpes.mp.br/DefaultCollection/_packaging/MPES/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InBOU0JjaEhSOUhKV1E0NjVKRGFITkc2WHk5USJ9.eyJuYW1laWQiOiIwZmJmNzA0Ny05MzhjLTQxYTktYjRjNS1hOWJkMGRiMzhmYjAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMmRmY2IxOWQtZmRhNC00OTU5LTkxOTEtMjc5NDc4YTc2NzUzIiwic2lkIjoiNTAyYjRkODktNzcyMS00MjY4LWI1ZDctZmI1MGEwYjdjNTY5IiwiaXNzIjoiYTZkMzg3ZmEtMjE2ZC00NWFkLWI2N2YtZjc3NmQ1YmNhZDQxIiwiYXVkIjoiYTZkMzg3ZmEtMjE2ZC00NWFkLWI2N2YtZjc3NmQ1YmNhZDQxIiwibmJmIjoxNjI3OTM0MjEyLCJleHAiOjE2MzU3MTAyMTF9.kRFSvtgpeFFbThIfsnx6X_G_h3xX4v_F5NEtE960td2jLBax-Ih3bX9huADac8Oq1PpuSNZm2zdSpqoxZWWMGRMbB9tzAtYlbSlyHRoWeH_JxLPT5o27c6tt9w-CRjrkLI06w_bemlOogr5m1RDOUgB_docK4D2Jpblb3OXPbyFS_P0wbngW7cFVdmfpnI9z-j899492HYMij2THWadKClf-affNp1eyT003L01wZJuwk3WbJp6dO-oZpe1Y4C1HY7HMFiud0Q0uLrf3F544UCRC52uPXtB3jGcLA4Bg2KQsJ9BGGq9LQMC4_w79O5tnAWhcG3PKJH6pBs6crJLxyg
//tfs.mpes.mp.br/DefaultCollection/_packaging/MPES/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InBOU0JjaEhSOUhKV1E0NjVKRGFITkc2WHk5USJ9.eyJuYW1laWQiOiIwZmJmNzA0Ny05MzhjLTQxYTktYjRjNS1hOWJkMGRiMzhmYjAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMmRmY2IxOWQtZmRhNC00OTU5LTkxOTEtMjc5NDc4YTc2NzUzIiwic2lkIjoiNTAyYjRkODktNzcyMS00MjY4LWI1ZDctZmI1MGEwYjdjNTY5IiwiaXNzIjoiYTZkMzg3ZmEtMjE2ZC00NWFkLWI2N2YtZjc3NmQ1YmNhZDQxIiwiYXVkIjoiYTZkMzg3ZmEtMjE2ZC00NWFkLWI2N2YtZjc3NmQ1YmNhZDQxIiwibmJmIjoxNjI3OTM0MjEyLCJleHAiOjE2MzU3MTAyMTF9.kRFSvtgpeFFbThIfsnx6X_G_h3xX4v_F5NEtE960td2jLBax-Ih3bX9huADac8Oq1PpuSNZm2zdSpqoxZWWMGRMbB9tzAtYlbSlyHRoWeH_JxLPT5o27c6tt9w-CRjrkLI06w_bemlOogr5m1RDOUgB_docK4D2Jpblb3OXPbyFS_P0wbngW7cFVdmfpnI9z-j899492HYMij2THWadKClf-affNp1eyT003L01wZJuwk3WbJp6dO-oZpe1Y4C1HY7HMFiud0Q0uLrf3F544UCRC52uPXtB3jGcLA4Bg2KQsJ9BGGq9LQMC4_w79O5tnAWhcG3PKJH6pBs6crJLxyg
; end auth token
