.czi-image-upload-placeholder {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.28);
  display: inline-block;
  height: 46px;
  margin: 0 2px 0 0;
  position: relative;
  width: 56px;
}

.czi-image-upload-placeholder-child {
  animation: cziImageUploadPlaceholder 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  background: #ccc;
  border-radius: 3px;
  left: 6px;
  position: absolute;
  width: 5px;
}

.czi-image-upload-placeholder-child:nth-child(1) {
  animation-delay: -0.24s;
  left: 10px;
}

.czi-image-upload-placeholder-child:nth-child(2) {
  animation-delay: -0.12s;
  left: 24px;
}

.czi-image-upload-placeholder-child:nth-child(3) {
  animation-delay: 0;
  left: 38px;
}

@keyframes cziImageUploadPlaceholder {
  0% {
    height: 40px;
    opacity: 0.5;
    top: 4px;
  }
  50%, 100% {
    height: 26px;
    opacity: 1;
    top: 10px;
  }
}