@import './czi-vars.css';

/* Table Styles */

.ProseMirror .tableWrapper {
  overflow-x: auto;
}

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
  page-break-inside: avoid;
}

.ProseMirror tr {
  page-break-inside: avoid;
}

.ProseMirror td,
.ProseMirror th {
  border: 1px solid #000;
  box-sizing: border-box;
  min-width: 1em;
  padding: 8px;
  position: relative;
  vertical-align: top;
}

.ProseMirror  th {
   font-weight: bold;
   text-align: left;
 }

.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px; top: 0; bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

/* Give selected cells a blue overlay */
.ProseMirror .selectedCell:after {
  background: var(--czi-selection-highlight-color);
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}


@media only print {
  .ProseMirror table {
    width: 100% !important;
  }
}