/* <CustomButton /> */
@import './czi-vars.css';

.czi-custom-buttons {
  margin: 0 16px;
  white-space: nowrap;
}

.czi-custom-button {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 5px;
  border: var(--czi-border-grey);
  box-sizing: border-box;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  line-height: 1.2em;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.czi-custom-button:focus,
.czi-custom-button:hover {
  border-color: #555;
  outline: none;
}

.czi-custom-button.active {
  border-color: #666;
  color: #000;
  font-weight: bold;
}

.czi-custom-button.pressed {
  background-color: #e0e0e0;
}

.czi-custom-button.disabled,
.czi-custom-button.disabled:hover {
  background: #ffffff;
  border-color: #ccc;
  color: #dedede;
  cursor: default;
  pointer-events: none;
}

.czi-custom-buttons {
  margin: 0 8px;
  white-space: nowrap;
}

.czi-custom-buttons .czi-custom-button {
  border-radius: 0;
  margin-left: 0;
}

.czi-custom-buttons > .czi-custom-button:first-child {
  border-top-left-radius: var(--czi-button-radius);
  border-bottom-left-radius: var(--czi-button-radius);
}

.czi-custom-buttons > .czi-custom-button:last-child {
  border-radius: 0;
  border-top-right-radius: var(--czi-button-radius);
  border-bottom-right-radius: var(--czi-button-radius);
}

.czi-custom-buttons > .czi-custom-button:only-child {
  border-radius: var(--czi-button-radius);
}
