@import './czi-ordered-list-counters.css';

:root {
  --czi-border-blue: solid 1px #5882EB;
  --czi-border-grey: solid 1px #ccc;
  --czi-border-red: solid 1px #ff0000;
  --czi-button-hover-background-color: rgba(0,0,0,.05);
  --czi-button-radius: 5px;
  --czi-color-grey-200: rgba(0,0,0,0.46);
  --czi-font-family: "Helvetica";
  --czi-font-size-h1: 18px;
  --czi-font-size-h2: 16px;
  --czi-font-size-h3: 12px;
  --czi-font-size-small: 10px;
  --czi-font-size: 12px;
  --czi-link-color: rgb(0, 0, 238);
  --czi-overlay-radius: 3px;
  --czi-overlay-shadow: 0 1px 2px rgba(0,0,0,0.46);
  --czi-selection-highlight-color-dark: rgba(152, 204, 253, 0.8);
  --czi-selection-highlight-color: rgba(152, 204, 253, 0.4);
}

.selection {
  background: red;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror {
  font-family: arial;
  font-size: 13px;
}

.ProseMirror a:link,
.ProseMirror a:visited,
.ProseMirror a:hover,
.ProseMirror a:active {
  color: var(--czi-link-color);
}

/* List Styles */
/* https://css-tricks.com/custom-list-number-styling/ */


.ProseMirror ol,
.ProseMirror ul {
  counter-reset: none;
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* https://www.sitepoint.com/understanding-block-formatting-contexts-in-css/ */
  /* this is need to force "block-context" to prevent broken style around */
  /* float siblings */
  overflow: auto;
}

.ProseMirror li {
  margin: 0;
  padding: 0;
  position: relative;
}

.ProseMirror li > p {
  /* https://www.sitepoint.com/understanding-block-formatting-contexts-in-css/ */
  /* this is need to force "block-context" to prevent broken style around */
  /* float siblings */
  overflow: auto;
}

.ProseMirror ol {
  counter-reset: czi-counter;
  list-style-type: none;
}

.ProseMirror ol li {
  counter-increment: czi-counter;
}

.ProseMirror li::before {
  content: counter(czi-counter) ".";
  float: left;
  font-size: 1em;
  line-height: 1em;
  margin-left: 8px;
  margin-right: 8px;
}

.ProseMirror li::before + p {
  /* https://www.sitepoint.com/understanding-block-formatting-contexts-in-css/ */
  /* this is need to force "block-context" to prevent broken style around */
  /* float siblings */
  overflow: auto;
}

.ProseMirror ul > li::before {
  content: '\2022'; /* square */
  font-size: 2em;
  line-height: 0.5em;
}

.ProseMirror ol[data-level="1"],
.ProseMirror ol[data-level="1"] {
  margin-left: 0;
}

.ProseMirror ol[data-level="2"],
.ProseMirror ul[data-level="2"] {
  margin-left: 24pt;
}

.ProseMirror ol[data-level="3"],
.ProseMirror ul[data-level="3"] {
  margin-left: 48pt;
}

.ProseMirror ol[data-level="4"],
.ProseMirror ul[data-level="4"] {
  margin-left: 72pt;
}

.ProseMirror ol[data-level="5"],
.ProseMirror ul[data-level="5"] {
  margin-left: 86pt;
}

.ProseMirror ol[data-level="6"],
.ProseMirror ul[data-level="6"] {
  margin-left: 104pt;
}

.ProseMirror ol[data-level="7"],
.ProseMirror ul[data-level="7"] {
  margin-left: 128pt;
}

.ProseMirror ol[data-level="8"],
.ProseMirror ul[data-level="8"] {
  margin-left: 156pt;
}

.ProseMirror .tableWrapper {
  overflow-x: auto;
}

/* Table Styles */

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.ProseMirror td,
.ProseMirror th {
  border: 1px solid #000;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.ProseMirror  th {
   font-weight: bold;
   text-align: left;
 }

.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px; top: 0; bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

/* Give selected cells a blue overlay */
.ProseMirror .selectedCell:after {
  background: var(--czi-selection-highlight-color);
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}
