
:root {
  --czi-button-hover-background-color: rgba(0,0,0,.05);
  --czi-font-family: "Helvetica";
  --czi-font-size: 12px;
  --czi-overlay-shadow: 0 1px 2px rgba(0,0,0,0.46);
  --czi-selection-highlight-color: rgba(152, 204, 253, 0.4);
  --czi-selection-highlight-color-dark: rgba(152, 204, 253, 0.8);
  --czi-border-grey: solid 1px #ccc;
}

.ProseMirror-focused {
  outline: none;
}

/* List Styles */

.ProseMirror ol[data-level="1"],
.ProseMirror ol[data-level="1"] {
  margin-left: 0;
}

.ProseMirror ol[data-level="2"],
.ProseMirror ul[data-level="2"] {
  margin-left: 24pt;
}

.ProseMirror ol[data-level="3"],
.ProseMirror ul[data-level="3"] {
  margin-left: 48pt;
}

.ProseMirror ol[data-level="4"],
.ProseMirror ul[data-level="4"] {
  margin-left: 72pt;
}

.ProseMirror ol[data-level="5"],
.ProseMirror ul[data-level="5"] {
  margin-left: 86pt;
}

.ProseMirror ol[data-level="6"],
.ProseMirror ul[data-level="6"] {
  margin-left: 104pt;
}

.ProseMirror ol[data-level="7"],
.ProseMirror ul[data-level="7"] {
  margin-left: 128pt;
}

.ProseMirror ol[data-level="8"],
.ProseMirror ul[data-level="8"] {
  margin-left: 156pt;
}

.ProseMirror .tableWrapper {
  overflow-x: auto;
}

/* Table Styles */

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.ProseMirror td,
.ProseMirror th {
  border: 1px solid #000;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.ProseMirror  th {
   font-weight: bold;
   text-align: left;
 }

.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px; top: 0; bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

/* Give selected cells a blue overlay */
.ProseMirror .selectedCell:after {
  background: var(--czi-selection-highlight-color);
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

/*
.ProseMirror ol,
.ProseMirror ul {
  outline: solid 1px blue;
}

.ProseMirror li {
  outline: solid 1px red;
}
*/

/*
.ProseMirror ol::before,
.ProseMirror ul::before {
  content: attr(data-level);
  display: list-item;
  list-style: none;
  background: yellow;
  color: red;
}
*/
