.czi-table-cell-menu.use-icon {
  box-shadow: 0px 0px 0px 0.3px rgba(0,0,0,0.35);
  font-size: 12px;
  font-weight: normal;
  height: 20px;
  line-height: 22px;
  margin: 5px 5px 0 0 ;
  text-align: center;
  width: 20px;
}

.czi-table-cell-menu .czi-icon {
  font-size: 12px;
}