@import './czi-prose-mirror.css';

.czi-image-url-editor {
  background: #fff;
  box-shadow: var(--czi-overlay-shadow);
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  padding: 4px 10px;
}

.czi-image-url-editor .czi-form {
  width: 400px;
}

.czi-image-url-editor-src-input-row {
  position: relative;
}

.czi-image-url-editor-src-input-row input.czi-image-url-editor-src-input {
  padding-right: 40px;
}

.czi-image-url-editor-input-preview {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid 1px #fff;
  box-sizing: border-box;
  height: 36px;
  outline: var(--czi-border-blue);
  position: absolute;
  right: 0;
  top: -15px;
  width: 36px;
}
