 .czi-image-view {
   display: inline-block;
   font-size: 0;
 }

.czi-image-view-body {
  display: inline-block;
  position: relative;
}

.czi-image-view-body.active {
  outline: var(--czi-border-blue);
}

.czi-image-view-body.error {
  outline: var(--czi-border-red);
}

.czi-image-view-body-img {
  background: #ccc;
}
