@import './czi-vars.css';
@import './czi-ordered-list-counters.css';

/* List Styles */
/* https://css-tricks.com/custom-list-number-styling/ */

.ProseMirror ol,
.ProseMirror ul {
  counter-reset: none;
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
  padding: 0;
}

.ProseMirror li {
  margin: 0;
  padding: 0;
  position: relative;
}

.ProseMirror ol {
  counter-reset: czi-counter;
  list-style-type: none;
}

.ProseMirror ol li {
  counter-increment: czi-counter;
}

.ProseMirror li > p {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

.ProseMirror li > p::before {
  content: counter(czi-counter) ".";
}

/* https://css-tricks.com/numbering-in-style/ */
.ProseMirror ol[data-list-style-type="lower-latin"] li > p::before {
  content: counter(czi-counter, lower-latin) ".";
}

.ProseMirror ol[data-list-style-type="upper-latin"] li > p::before {
  content: counter(czi-counter, upper-latin) ".";
}

.ProseMirror ol[data-list-style-type="lower-roman"] li > p::before {
  content: counter(czi-counter, lower-roman) ".";
}

.ProseMirror ol[data-list-style-type="upper-roman"] li > p::before {
  content: counter(czi-counter, upper-roman) ".";
}

.ProseMirror ol[data-list-style-type="lower-alpha"] li > p::before {
  content: counter(czi-counter, lower-alpha) ".";
}

.ProseMirror ol[data-list-style-type="upper-roman"] li > p::before {
  content: counter(czi-counter, upper-alpha) ".";
}

.ProseMirror li > p::before {
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  position: relative;
  text-align: right;
  top: 0;
}

.ProseMirror ul li > p::before {
  content: '\2022'; /* disc */
  font-size: 2em;
  top: 5px;
}

.ProseMirror ul[data-list-style-type="circle"] li > p::before {
  content: '\25cb';
  font-size: 1.3em;
}

.ProseMirror ul[data-list-style-type="square"] li > p::before {
  content: '\25a0';
  font-size: 1.12em;
}

.ProseMirror ul[data-list-style-type="box"] li > p::before {
  content: '\274f';
  font-size: 1.12em;
  top: 1px;
}

/* bullet indentation */
.ProseMirror li {
  /* This assumes the space needed for 3 digits numbers */
  --czi-list-style-indent: 42px;
  --czi-list-style-indent-reverse: -42px;
  padding: 0 0 0 var(--czi-list-style-indent);
}

.ProseMirror li > p::before {
  left: -5px;
  margin-left: var(--czi-list-style-indent-reverse);
  width: var(--czi-list-style-indent);
}
