.czi-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.czi-icon.h1,
.czi-icon.h2,
.czi-icon.h3,
.czi-icon.hn {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: capitalize;
}

.czi-icon.hr {
  font-size: 12px;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  overflow: hidden;
  background: #222;
  margin-top: 2px;
}

.czi-icon.hr::before {
  content: '-';
  font-size: 100px;
  font-weight: bold;
  line-height: 0;
}