@import './czi-heading.css';
@import './czi-indent.css';
@import './czi-list.css';
@import './czi-table.css';
@import './czi-vars.css';

.czi-text-selection {
   /* var(--czi-selection-highlight-color-dark); */
  background: red;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--czi-editor-font-color);
  font-family: var(--czi-editor-font-family);
  font-size: var(--czi-editor-font-size);
  line-height: var(--czi-editor-line-height);
  position: relative;
  user-zoom: fixed;
}

.ProseMirror.czi-has-placeholder {
  min-height: 100px;
}

.ProseMirror.czi-has-placeholder {
  min-height: 100px;
}

.ProseMirror p {
  line-height: var(--czi-editor-line-height);
  margin: 0;
}

.prosemirror-editor-wrapper {
  position: relative;
}

.czi-editor-content-placeholder {
  box-sizing: border-box;
  color: var(--czi-placeholder-text-color);
  font-family: var(--czi-editor-font-family);
  font-size: var(--czi-editor-font-size);
  left: 0;
  line-height: var(--czi-editor-line-height);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

@media only screen {
  .ProseMirror {
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    min-height: 29.7cm;
    outline: none;
    padding: 2.7cm;
    position: relative;
    width: 16.25cm;
    z-index: 1;
    /* transform: scale(0.5);
    transform-origin: top; */
  }

  .ProseMirror[data-layout="us_letter_portrait"] {
    min-height: 279mm;
    padding: 15.5mm;
    width: 216mm;
  }

  .ProseMirror[data-layout="us_letter_landscape"] {
    min-height: 216mm;
    padding: 15.5mm;
    width: 279mm;
  }

  .ProseMirror[data-layout="desktop_screen_4_3"] {
    min-height: 90vh;
    padding: 15.5mm;
    width: 120vh;
  }

  .ProseMirror[data-layout="desktop_screen_16_9"] {
    min-height: 80vh;
    padding: 15.5mm;
    width: 142vh;;
  }

  .prosemirror-editor-wrapper.embedded .ProseMirror {
    background: unset;
    border-radius: unset;
    box-shadow: unset;
    min-height: unset;
    padding: unset;
    width: unset;
  }
}

@media only print {
  .ProseMirror .czi-editor-body {
    padding: auto !important;
    width: auto !important;
  }
}

.ProseMirror a:link,
.ProseMirror a:visited,
.ProseMirror a:hover,
.ProseMirror a:active {
  color: var(--czi-link-color);
}

/* Blockquote */
.ProseMirror blockquote {
  background-color: var(--czi-blockquote-background-color);
  border-left: var(--czi-blockquote-border);
  border-radius: 1px;
  color: var(--czi-blockquote-color);
  font-family: var(--czi-blockquote-font-family);
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.6;
  margin: 50px auto;
  padding: 1.2em 10% 1.2em 10%;
  position: relative;
}

/* CodeBlock */
.ProseMirror pre > code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
