.czi-icon {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: subpixel-antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.czi-icon.h1,
.czi-icon.h2,
.czi-icon.h3,
.czi-icon.hn {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: capitalize;
}

.czi-icon.hr {
  content: '---';
 

  /* font-size: 12px;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  overflow: hidden; */
  /*background: #222;*/
  /* background:var(--czi-button-text-color); */
  margin-top: -12px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 20px;
  height: 30px;
}

.czi-icon.hr::before {
   content: '---';
   font-weight: bold;
  /*font-size: 100px;
  
  line-height: 0; */
}

.czi-icon.superscript {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 16px;
  text-align: center;
  width: 20px;
}

.czi-icon .superscript-top {
  margin: 0 2px;
  vertical-align: super;
}
