@import './czi-prosemirror.css';

.czi-pop-up-modal-mask,
.czi-pop-up-element {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5000;
}

.czi-pop-up-element {
  background-color: transparent;
  height: auto;
  width: auto;
}

.czi-pop-up-element a:link,
.czi-pop-up-element a:visited,
.czi-pop-up-element a:hover,
.czi-pop-up-element a:active {
  color: var(--czi-link-color);
}
