.czi-editor-frameset {
  position: relative;
}

.czi-editor-frame-main {
  position: relative;
  z-index: 0;
}

.czi-editor-frame-body {
  background-color: var(--czi-page-background-color);
}

.czi-editor-frameset.embedded .czi-editor-frame-body {
  background-color: unset;
}

.czi-editor-frame-body-scroll {
  box-sizing: border-box;
  padding-top: 20px;
}

.czi-editor-frameset.embedded .czi-editor-frame-body-scroll {
  padding-top: unset;
}

.czi-editor-frameset.with-fixed-layout .czi-editor-frame-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.czi-editor-frame-head {
  box-shadow: 0 1px 1px rgba(0,0,0,0.21);
  position: relative;
  z-index: 2;
}

.czi-editor-frameset.with-fixed-layout .czi-editor-frame-body {
  flex: 1;
  position: relative;
  z-index: 1;
}

.czi-editor-frameset.with-fixed-layout .czi-editor-frame-body-scroll {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.czi-editor-frame-footer {
  display: flex;
}

@media only print {
  .czi-editor-frame-body {
    background-color: transparent;
  }

  .czi-editor-frameset.with-fixed-layout {
    height: auto !important;
    width: auto !important;
  }

  .czi-editor-frameset.with-fixed-layout .czi-editor-frameset {
    height: auto;
  }

  .czi-editor-frameset.with-fixed-layout .czi-editor-frame-body-scroll {
    position: relative;
  }

  .czi-editor-frameset.with-fixed-layout .czi-editor-frame-body {
    height: auto !important;
    max-height: auto !important;
    overflow: visible;
  }
}