/* For MS-Edge 16+, Chrome, Safari, Firefox */
.ProseMirror ul {
  counter-reset: czi-bullet-counter 0;
}

.ProseMirror ul li::before {
  /* Default bullet style to "disc" */
  content: '\2022\2009';
  font-size: 1.85em;
  line-height: 55%;
}

.ProseMirror ul[type='square'] li::before {
  content: '\25aa\2009';
}

.ProseMirror ul[type='circle'] li::before {
  content: '\25cb\2009';
  font-size: 1.15em;
  line-height: 120%;
}
