@import './czi-prose-mirror.css';

.czi-image-view {
 clear: both;
 display: inline-block;
 font-size: 0;
 text-align: center;
}

.czi-image-view.align-left {
  float: left;
  margin: 0 20px 20px 0;
}

.czi-image-view.align-right {
  float: right;
  margin: 0 0 20px 20px;
}

.czi-image-view.align-center {
  clear: both;
  display: block;
  float: none;
  margin: 20px 0;
}

.czi-image-view-body {
  clear: both;
  display: inline-block;
  position: relative;
}

.czi-image-view-body.active {
  outline: var(--czi-border-blue);
}

.czi-image-view-body.error {
  outline: var(--czi-border-red);
}

.czi-image-view-body-img {
  background: #ccc;
}
