@import './czi-heading.css';
@import './czi-indent.css';
@import './czi-list.css';
@import './czi-table.css';
@import './czi-vars.css';

.czi-text-selection {
   /* var(--czi-selection-highlight-color-dark); */
  background: red;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror {
  font-family: var(--czi-editor-font-family);
  font-size: var(--czi-editor-font-size);
  line-height: var(--czi-editor-line-height);
}

.ProseMirror p {
  margin: 0;
}

.ProseMirror a:link,
.ProseMirror a:visited,
.ProseMirror a:hover,
.ProseMirror a:active {
  color: var(--czi-link-color);
}

/* Blockquote */
.ProseMirror blockquote {
  background-color: var(--czi-blockquote-background-color);
  border-left: var(--czi-blockquote-border);
  border-radius: 1px;
  color: var(--czi-blockquote-color);
  font-family: var(--czi-blockquote-font-family);
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.6;
  margin: 50px auto;
  padding: 1.2em 10% 1.2em 10%;
  position: relative;
}

/* CodeBlock */
.ProseMirror pre > code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
