.czi-loading-indicator {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 13px;
}

.czi-loading-indicator .frag {
  position: absolute;
  top: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--czi-selection-highlight-color-dark);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.czi-loading-indicator-frag-1 {
  left: 6px;
  animation: czi_loading_animation 0.6s infinite;
}

.czi-loading-indicator-frag-2 {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.czi-loading-indicator-frag-3 {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.czi-loading-indicator-frag-4 {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes czi_loading_animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/*

.czi-loading-indicator {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  vertical-align: middle;
}

.czi-loading-indicator .frag {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #efefef;
  border-radius: 50%;
  animation: czi_loading_indicator_animation 0.8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #efefef transparent transparent transparent;
}

.czi-loading-indicator-frag-1 {
  animation-delay: -0.45s;
}

.czi-loading-indicator-frag-2 {
  animation-delay: -0.3s;
}

.czi-loading-indicator-frag-3 {
  animation-delay: -0.15s;
}

@keyframes czi_loading_indicator_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/
