.convert-app {
  background-color: #EBEDEF;
  font-family: arial;
  font-size: 12px;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.convert-app-title {
  font-size: 13px;
}

/* https://www.layoutit.com/grid */

.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "draftjs html prosemirror prosemirror" "draftjs html prosemirror prosemirror";
  grid-template-columns: 0.5fr 1fr 1fr 1.5fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.convert-app .header {
  grid-area: header;
}

.convert-app .draftjs {
  grid-area: draftjs;
}

.convert-app .html {
  grid-area: html;
}

.convert-app .prosemirror {
  grid-area: prosemirror;
}

.convert-app .header .czi-custom-buttons {
  display: inline-block;
  margin: 0 10px 0 0;
}

.convert-app-area {
  display: flex;
  flex-direction: column;
}

.convert-app-area-head {
  padding: 10px 10px 0 10px;
}

.convert-app-area-title {
  display: block;
  font-weight: bold;
  margin: 0 0 6px 0;
}

.convert-app-area-body {
  box-sizing: border-box;
  flex: 1;
  padding: 10px;
  position: relative;
}

.convert-app-area-body > .prosemirror-editor-wrapper {
  background: repeating-linear-gradient(
    45deg,
    #c0c0c0,
    #c0c0c0 10px,
    #c2c2c2 10px,
    #c2c2c2 20px
  );
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 10px;
}

.convert-app-area-body > .prosemirror-editor-wrapper > .ProseMirror {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  margin: 20px;
  min-height: 29.7cm;
  outline: none;
  padding: 16px;
  position: relative;
  width: 21cm;
  z-index: 1;
}

.convert-app-area-body > textarea {
  border: none;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
  font-family: monospace, "Courier New", Courier;
  font-size: 13px;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
  min-height: 500px;
}

.convert-app-area-body > textarea:read-only {
  background-color: rgba(51,153,255,0.2);
  -webkit-animation-name: czi_loading_background;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes czi_loading_background {
  from {background-color: rgba(51,153,255,0.2);}
  to {background-color: rgba(51,153,255,0.8);}
}
