.convert-app {
  background-color: #EBEDEF;
  font-family: arial;
  font-size: 12px;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.convert-app-title {
  font-size: 13px;
}

.convert-app .header .czi-custom-buttons {
  display: inline-block;
  margin: 0 10px 0 0;
}

.convert-app-area {
  display: flex;
  flex-direction: column;
}

.convert-app-area-head {
  padding: 10px 10px 0 10px;
}

.convert-app-area-title {
  display: block;
  font-weight: bold;
  margin: 0 0 6px 0;
}

.convert-app-area-body {
  box-sizing: border-box;
  flex: 1;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.convert-app-area.prosemirror .convert-app-area-body  {
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin-top: 10px;
}

.convert-app-area-body > textarea {
  border: none;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
  font-family: monospace, "Courier New", Courier;
  font-size: 13px;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
  min-height: 300px;
}

.convert-app-area-body > textarea:read-only {
  background-color: rgba(51,153,255,0.2);
  -webkit-animation-name: czi_loading_background;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes czi_loading_background {
  from {background-color: rgba(51,153,255,0.2);}
  to {background-color: rgba(51,153,255,0.8);}
}

.grid-container {
  width: 100%;
  height: 100%;
}

/* https://www.layoutit.com/grid */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "header header header header" "draftjs html prosemirror prosemirror" "prosemirror-json html prosemirror prosemirror";
}

.header { grid-area: header; }

.draftjs { grid-area: draftjs; }

.prosemirror-json { grid-area: prosemirror-json; }

.html { grid-area: html; }

.prosemirror { grid-area: prosemirror; }
