html {
  background: #c0c0c0;
  border: 0;
  border: none;
  margin: 0;
}

body {
  border: none;
  margin: 0;
}

.demo-app-template {
  display: none;
}

.demo-app {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  margin: 20px auto;
  width: 21cm;
}

.demo-app-toolbar {
  background: #d0d0d0;
  padding: 16px;
}

.ProseMirror {
  min-height: 29.7cm;
  outline: none;
  padding: 16px;
}

.command-button-component {
  cursor: pointer;
  padding: 12px 6px;
}

.command-button-component[disabled] {
  cursor: default;
}
