

.cuneiform-editor ol,
.cuneiform-editor ul {
  outline: solid 1px blue;
}

.cuneiform-editor li {
  outline: solid 1px red;
}

/*
.cuneiform-editor ol::before,
.cuneiform-editor ul::before {
  content: attr(data-level);
  display: list-item;
  list-style: none;
  background: yellow;
  color: red;
}
*/

.cuneiform-editor ol[data-level="1"],
.cuneiform-editor ol[data-level="1"] {
  margin-left: 0;
}

.cuneiform-editor ol[data-level="2"],
.cuneiform-editor ul[data-level="2"] {
  margin-left: 24pt;
}

.cuneiform-editor ol[data-level="3"],
.cuneiform-editor ul[data-level="3"] {
  margin-left: 48pt;
}

.cuneiform-editor ol[data-level="4"],
.cuneiform-editor ul[data-level="4"] {
  margin-left: 72pt;
}

.cuneiform-editor ol[data-level="5"],
.cuneiform-editor ul[data-level="5"] {
  margin-left: 86pt;
}

.cuneiform-editor ol[data-level="6"],
.cuneiform-editor ul[data-level="6"] {
  margin-left: 104pt;
}

.cuneiform-editor ol[data-level="7"],
.cuneiform-editor ul[data-level="7"] {
  margin-left: 128pt;
}

.cuneiform-editor ol[data-level="8"],
.cuneiform-editor ul[data-level="8"] {
  margin-left: 156pt;
}
